@page "/almoxarifado/entrada-material"
@using AppAlmoxarifado.Web.Models

<PageTitle>Siss Saúde - Entrada de Material</PageTitle>

<div class="pagetitle">
    <h1>Entrada de Material</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="bi bi-house-fill"></i></a></li>
            <li class="breadcrumb-item"><a href="/">Almoxarifado</a></li>
            <li class="breadcrumb-item active">Entrada de Material</li>
        </ol>
    </nav>
</div>

<div class="card">
    <div class="card-header">Parâmetros de Pesquisa</div>
    <div class="card-body">
        <EditForm Model="@ModelSearch">
            <div class="row">
                <div class="col-md-2 pb-2">
                    <label class="form-label">Número do Movimento:</label>
                    <InputText class="form-control" @bind-Value="ModelSearch.NumeroMovimento" />
                    @* <ValidationMessage For="@(() => Model.Title)" /> *@
                </div>
                <div class="col-md-2 pb-2">
                    <label class="form-label">Tipo do Movimento:</label>
                    <InputSelect @bind-Value="ModelSearch.TipoMovimento" class="form-control form-select">
                        @* @foreach (var category in Categories)
                        {
                        <option value="@category.Id">
                        @category.Title
                        </option>
                        } *@
                    </InputSelect>
                </div>
                <div class="col-md-4 pb-2">
                    <label class="form-label">Almoxarifado:</label>
                    <InputSelect @bind-Value="ModelSearch.AlmoxarifadoId" class="form-control form-select">
                        @* @foreach (var category in Categories)
                        {
                        <option value="@category.Id">
                        @category.Title
                        </option>
                        } *@
                    </InputSelect>
                </div>
                <div class="col-md-2 pb-2">
                    <label class="form-label">Data Inicial:</label>
                    <InputDate class="form-control" @bind-Value="ModelSearch.DataInicial" />
                    @* <ValidationMessage For="@(() => Model.Title)" /> *@
                </div>
                <div class="col-md-2 pb-2">
                    <label class="form-label">Data Final:</label>
                    <InputDate class="form-control" @bind-Value="ModelSearch.DataFinal" />
                    @* <ValidationMessage For="@(() => Model.Title)" /> *@
                </div>
            </div>
        </EditForm>
    </div>
    <div class="card-footer">
        <div class="text-end mt-4">
            <a href="/" class="btn btn-primary">
                <i class="bi bi-search"></i> Pesquisar
            </a>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">Resultado da Pesquisa</div>
</div>

<div class="text-end mt-4">
    <a href="almoxarifado/entrada-material/nova" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i> Nova Entrada
    </a>
</div>

@code {
    public PesaquisaMovimentoViewModel ModelSearch { get; set; } = new PesaquisaMovimentoViewModel();

}
